/*
 * These are styles for the top-level inquire.html file,
 * they affect the code editor, but not the output document.
 * See inquiry.css for output document styles
 */
#run {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
}

#input {
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 40px);
  top: 30px;
  width: calc(50% - 15px);
  left: 10px;
  border: solid black 1px;
  padding:10px;
  font-family: monospace;
}

#output {
    box-sizing: border-box;
    position: absolute;
    height: calc(100% - 40px);
    top: 30px;
    width: calc(50% - 15px);
    right: 10px;
    border: solid black 1px;
    padding: 10px;
}
